<section>
  <div style="display: inline-block; position: relative;" class="ember-basic-dropdown-content ember-basic-dropdown-content--below ember-basic-dropdown-content--left">
    <div class="option-contents" data-theme={{theme.name}}>
      {{ui-item (fake "company.companyName")}}
      {{ui-item (fake "company.companyName")}}
      {{ui-item (fake "company.companyName")}}
    </div>
  </div>

  <div style="display: inline-block; position: relative;" class="ember-basic-dropdown-content ember-basic-dropdown-content--below ember-basic-dropdown-content--left">
    <div class="option-contents" data-theme={{theme.name}}>
      {{ui-item (fake "company.companyName") 'ui-16px-1_zoom' subtext=(fake "internet.email") afterIcon='arrows-16px-4_stre-right'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_chat-round-content' subtext=(fake "internet.email") afterIcon='arrows-16px-4_stre-right'}}
      {{ui-item (fake "company.companyName") 'ui-16px-e_star-empty' subtext=(fake "internet.email") afterIcon='arrows-16px-4_stre-right'}}
      {{ui-item (fake "company.companyName") 'ui-16px-1_pencil' subtext=(fake "internet.email") afterIcon='arrows-16px-4_stre-right'}}
      {{ui-item (fake "company.companyName") 'shopping-16px_tag-content' subtext=(fake "internet.email") afterIcon='arrows-16px-4_stre-right'}}
    </div>
  </div>

  <div style="display: inline-block; position: relative;" class="ember-basic-dropdown-content ember-basic-dropdown-content--below ember-basic-dropdown-content--left">
    <div class="option-contents" data-theme={{theme.name}}>
      {{ui-item (fake "company.companyName") 'ui-16px-1_zoom' iconColor='#FD7B1F'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_chat-round-content' iconColor='#81C926'}}
      {{ui-item (fake "company.companyName") 'ui-16px-e_star-empty' iconColor='#AB7DF6'}}
      {{ui-item (fake "company.companyName") 'ui-16px-1_pencil' iconColor='#0093EE' disabled=true}}
      {{ui-item (fake "company.companyName") 'shopping-16px_tag-content' iconColor='#26C2C9' disabled=true}}
    </div>
  </div>
</section>
<div class="code">

</div>