<section local-class="symbols">
  {{#each icon as |item|}}
    <div local-class="wrapper">
      {{ui-icon item.icon 36 36 type='symbols' color=item.color fill=item.fill}}
    </div>
  {{/each}}
</section>
<div class="code">
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> color=<i>'blue'</i><span>}}</span>
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> color=<i>'lime'</i><span>}}</span>
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> color=<i>'purple'</i><span>}}</span>
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> color=<i>'yellow'</i><span>}}</span>
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> color=<i>'orange'</i><span>}}</span>
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> color=<i>'dark'</i><span>}}</span>
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> color=<i>'nepal'</i><span>}}</span>
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> color=<i>'red'</i><span>}}</span>
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> color=<i>'light'</i><span>}}</span>
  <span>\{{ui-icon</span> <u>'ICON'</u> <i>36</i> <i>36</i> type=<b>'symbols'</b> fill=<i>'#E74D89'</i><span>}}</span>
</div>