<section>
  <div class="preview-attachments-wrapper">
    {{#ui-form 'vertical' 'three'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' subLabel=(fake "system.commonFileExt") state='attachments' attachmentsImage=(fake "image.avatar")}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' subLabel=(fake "system.commonFileExt") state='attachments' attachmentsImage=(fake "image.avatar")}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' subLabel=(fake "system.commonFileExt") state='attachments' attachmentsImage=(fake "image.avatar")}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' subLabel=(fake "system.commonFileExt") state='attachments' attachmentsColor='#AB7DF6' iconColor='#FFF'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' subLabel=(fake "system.commonFileExt") state='attachments' attachmentsColor='#26C2C9' iconColor='#FFF'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' subLabel=(fake "system.commonFileExt") state='attachments' attachmentsColor='#81C926' iconColor='#FFF'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' subLabel=(fake "system.commonFileExt") state='attachments'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' subLabel=(fake "system.commonFileExt") state='attachments'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' subLabel=(fake "system.commonFileExt") state='attachments'}}
    {{/ui-form}}
    <br>
    {{#ui-form 'vertical' 'four'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments' attachmentsImage=(fake "image.avatar")}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments' attachmentsImage=(fake "image.avatar")}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments' attachmentsImage=(fake "image.avatar")}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments' attachmentsImage=(fake "image.avatar")}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments' attachmentsColor='#AB7DF6' iconColor='#FFF'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments' attachmentsColor='#26C2C9' iconColor='#FFF'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments' attachmentsColor='#81C926' iconColor='#FFF'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments' attachmentsColor='#0093EE' iconColor='#FFF'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments'}}
      {{ui-item (fake "company.companyName") 'ui-16px-2_grid-square' state='attachments'}}
    {{/ui-form}}
  </div>
</section>
<div class="code">
  <span>\{{#ui-form</span> <i>'vertical'</i> <i>'three'</i><span>}}</span>
  <span>\{{#ui-form</span> <i>'vertical'</i> <i>'four'</i><span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> <u>'ICON'</u> subLabel=<u>'SUBLabel'</u> state=<i>'attachments'</i> attachments=<u>'IMAGE'</u><span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> <u>'ICON'</u> subLabel=<u>'SUBLabel'</u> state=<i>'attachments'</i> attachmentsColor=<i>'#AB7DF6'</i> iconColor=<i>'#FFF'</i><span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> <u>'ICON'</u> subLabel=<u>'SUBLabel'</u> state=<i>'attachments'</i><span>}}</span>
</div>