<section class="preview-ui-item-wrapper">
  <div class="preview-ui-item preview-ui-item-divider">
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='24' name=(fake "name.firstName") time=(fake "date.weekday") subLabel=(fake "internet.email") badges='1' badgesColor='blue' divider=true}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='24' name=(fake "name.firstName") time=(fake "date.weekday") subLabel=(fake "internet.email") badges='2' badgesColor='blue' divider=true}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='24' name=(fake "name.firstName") time=(fake "date.weekday") subLabel=(fake "internet.email") badges='17' badgesColor='blue' divider=true}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='24' name=(fake "name.firstName") time=(fake "date.weekday") subLabel=(fake "internet.email") badges=(fake "finance.mask") divider=true}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='24' name=(fake "name.firstName") time=(fake "date.weekday") subLabel=(fake "internet.email") badges=(fake "finance.mask") divider=true}}
  </div>
</section>
<div class="code">
  <span>\{{ui-item</span> <u>'LABEL'</u> <i>48</i> <i>48</i> type=<i>'image'</i> image=<u>'IMAGE'</u> radius=<i>'24'</i> name=<u>'NAME'</u> time=<u>'TIME'</u> subLabel=<u>'SUBLabel'</u> badges=<u>'BADGES'</u> badgesColor=<i>'blue'</i> divider=<i>true</i><span>}}</span>
</div>