<section class="preview-ui-item-wrapper">
  <div class="preview-ui-item preview-ui-item-divider">
    {{#ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' divider=true}}
      <div class="preview-ui-item-custom">
        {{ui-icon 'ui-16px-2_favourite-31' 12}}
        {{ui-icon 'ui-16px-2_favourite-31' 12}}
        {{ui-icon 'ui-16px-2_favourite-31' 12}}
        {{ui-icon 'ui-16px-e_star-empty' 12}}
        {{ui-icon 'ui-16px-e_star-empty' 12}}
        <span>{{fake "lorem.sentence"}}</span>
      </div>
    {{/ui-item}}
    {{#ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' divider=true}}
      <div class="preview-ui-item-custom">
        {{ui-icon 'ui-16px-2_favourite-31' 12}}
        {{ui-icon 'ui-16px-2_favourite-31' 12}}
        {{ui-icon 'ui-16px-2_favourite-31' 12}}
        {{ui-icon 'ui-16px-e_star-empty' 12}}
        {{ui-icon 'ui-16px-e_star-empty' 12}}
        <span>{{fake "lorem.sentence"}}</span>
      </div>
    {{/ui-item}}
    {{#ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' divider=true}}
      <div class="preview-ui-item-custom">
        {{ui-icon 'ui-16px-2_favourite-31' 12}}
        {{ui-icon 'ui-16px-2_favourite-31' 12}}
        {{ui-icon 'ui-16px-2_favourite-31' 12}}
        {{ui-icon 'ui-16px-e_star-empty' 12}}
        {{ui-icon 'ui-16px-e_star-empty' 12}}
        <span>{{fake "lorem.sentence"}}</span>
      </div>
    {{/ui-item}}
  </div>
</section>
<div class="code">
  <span>\{{#ui-item</span> <u>'LABEL'</u> <i>48</i> <i>48</i> type=<i>'image'</i> image=<u>'IMAGE'</u> radius=<i>'4'</i> divider=<i>true</i><span>}}</span>
  ......
  <span>\{{/ui-item}}</span>
</div>