<section class="preview-ui-item-wrapper">
  <div class="preview-ui-item preview-ui-item-divider">
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email") divider=true hint='lime'}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email") divider=true hint='lime'}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email") divider=true hint='blue'}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email") divider=true hint='blue'}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email") divider=true hint='blue'}}
  </div>
</section>
<div class="code">
  <span>\{{ui-item</span> <u>'LABEL'</u> <i>48</i> <i>48</i> type=<i>'image'</i> image=<u>'IMAGE'</u> radius=<i>'4'</i> subLabel=<u>'SUBLabel'</u> divider=<i>true</i> hint=<i>'lime'</i><span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> <i>48</i> <i>48</i> type=<i>'image'</i> image=<u>'IMAGE'</u> radius=<i>'4'</i> subLabel=<u>'SUBLabel'</u> divider=<i>true</i> hint=<i>'blue'</i><span>}}</span>
</div>