<section class="preview-ui-item-wrapper">
  <div class="preview-ui-item">
    {{ui-item (fake "company.companyName") 'ui-16px-1_zoom'}}
    {{ui-item (fake "company.companyName") 'ui-16px-2_chat-round-content'}}
    {{ui-item (fake "company.companyName") 'ui-16px-e_star-empty'}}
    {{ui-item (fake "company.companyName") 'ui-16px-1_pencil'}}
    {{ui-item (fake "company.companyName") 'shopping-16px_tag-content'}}
  </div>
  <div class="preview-ui-item">
    {{ui-item (fake "company.companyName") 'ui-16px-1_zoom' iconColor='#FD7B1F'}}
    {{ui-item (fake "company.companyName") 'ui-16px-2_chat-round-content' iconColor='#81C926'}}
    {{ui-item (fake "company.companyName") 'ui-16px-e_star-empty' iconColor='#AB7DF6'}}
    {{ui-item (fake "company.companyName") 'ui-16px-1_pencil' iconColor='#0093EE'}}
    {{ui-item (fake "company.companyName") 'shopping-16px_tag-content' iconColor='#26C2C9'}}
  </div>
  <div class="preview-ui-item">
    {{ui-item (fake "company.companyName") 'ui-16px-1_zoom' 36 36 type='symbols' color='blue'}}
    {{ui-item (fake "company.companyName") 'ui-16px-2_chat-round-content' 36 36 type='symbols' color='lime'}}
    {{ui-item (fake "company.companyName") 'ui-16px-e_star-empty' 36 36 type='symbols' color='purple'}}
    {{ui-item (fake "company.companyName") 'ui-16px-1_pencil' 36 36 type='symbols' color='yellow'}}
    {{ui-item (fake "company.companyName") 'shopping-16px_tag-content' 36 36 type='symbols' color='orange'}}
  </div>
  <div class="preview-ui-item">
    {{ui-item (fake "company.companyName") 'tag-point' iconColor='#FD7B1F'}}
    {{ui-item (fake "company.companyName") 'tag-point' iconColor='#81C926'}}
    {{ui-item (fake "company.companyName") 'tag-point' iconColor='#AB7DF6'}}
    {{ui-item (fake "company.companyName") 'tag-point' iconColor='#0093EE'}}
    {{ui-item (fake "company.companyName") 'tag-point' iconColor='#26C2C9'}}
  </div>
  <div class="preview-ui-item">
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email") subIcon='ui-16px-2_chat-round-content'}}
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email") subIcon='ui-16px-2_chat-round-content'}}
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email") subIcon='ui-16px-2_chat-round-content'}}
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email") subIcon='ui-16px-2_chat-round-content'}}
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email") subIcon='ui-16px-2_chat-round-content'}}
  </div>
  <div class="preview-ui-item">
    {{ui-item (fake "company.companyName") 'ui-16px-1_zoom' 48 48 type='logo' iconColor='#E74D89' subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") 'ui-16px-1_zoom' 48 48 type='logo' iconColor='#81C926' subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") 'ui-16px-1_zoom' 48 48 type='logo' iconColor='#AB7DF6' subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") 'ui-16px-1_zoom' 48 48 type='logo' iconColor='#0093EE' subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") 'ui-16px-1_zoom' 48 48 type='logo' iconColor='#26C2C9' subLabel=(fake "internet.email")}}
  </div>
</section>
<div class="code">
  <span>\{{ui-item</span> <u>'LABEL'</u> <u>'ICON'</u><span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> <u>'ICON'</u> iconColor=<i>'#FD7B1F'</i><span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> <u>'ICON'</u> <u>36</u> <u>36</u> type=<i>'symbols'</i> color=<i>'blue'</i><span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> <u>'tag-point'</u> iconColor=<i>'#FD7B1F'</i><span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> subLabel=<u>'SUBLabel'</u> subIcon=<u>'SUBICON'</u><span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> <u>'ICON'</u> <i>48</i> <i>48</i> type=<i>'logo'</i> iconColor=<i>'#E74D89'</i> subIcon=<u>'SUBICON'</u><span>}}</span>
</div>