<section class="preview-ui-item-wrapper">
  <div class="preview-ui-item">
    {{ui-item (fake "company.companyName")}}
    {{ui-item (fake "company.companyName")}}
    {{ui-item (fake "company.companyName")}}
    {{ui-item (fake "company.companyName")}}
    {{ui-item (fake "company.companyName")}}
    {{ui-item (fake "company.companyName")}}
  </div>
  <div class="preview-ui-item">
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") subLabel=(fake "internet.email")}}
  </div>
</section>
<div class="code">
  <span>\{{ui-item</span> <u>'LABEL'</u> <span>}}</span>
  <span>\{{ui-item</span> <u>'LABEL'</u> subLabel=<u>'SUBLabel'</u><span>}}</span>
</div>