<section class="preview-ui-item-wrapper">
  <div class="preview-ui-item">
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email")}}
    {{ui-item (fake "company.companyName") 48 48 type='image' image=(fake "image.avatar") radius='4' subLabel=(fake "internet.email")}}
  </div>
</section>
<div class="code">
  <span>\{{ui-item</span> <u>'LABEL'</u> <i>48</i> <i>48</i> type=<i>'image'</i> image=<u>'IMAGE'</u> radius=<i>'4'</i> subLabel=<u>'SUBLabel'</u> badges=<u>'BADGES'</u><span>}}</span>

</div>