<section>
  {{ui-button 'Category' color='fade-blue' size='category'}}
  {{ui-button 'Category' color='fade-green' size='category'}}
  {{ui-button 'Category' color='fade-yellow' size='category'}}
  {{ui-button 'Category' color='fade-purple' size='category'}}
  {{ui-button 'Category' color='fade-orange' size='category'}}
  {{ui-button 'Category' color='fade-orange' size='category' disabled=true}}
  <div class="preview-divider"></div>
  {{ui-button 'Category' color='fade-blue' size='category' extend=true}}
  {{ui-button 'Category' color='fade-green' size='category' extend=true}}
  {{ui-button 'Category' color='fade-yellow' size='category' extend=true}}
  {{ui-button 'Category' color='fade-purple' size='category' extend=true}}
  {{ui-button 'Category' color='fade-orange' size='category' extend=true}}
  {{ui-button 'Category' color='fade-orange' size='category' extend=true disabled=true}}
</section>
<div class="code">
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-blue'</i> size=<b>'category'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-green'</i> size=<b>'category'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-yellow'</i> size=<b>'category'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-purple'</i> size=<b>'category'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-orange'</i> size=<b>'category'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-orange'</i> size=<b>'category'</b> disabled=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-blue'</i> size=<b>'category'</b> extend=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-green'</i> size=<b>'category'</b> extend=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-yellow'</i> size=<b>'category'</b> extend=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-purple'</i> size=<b>'category'</b> extend=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-orange'</i> size=<b>'category'</b> extend=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Category'</u> color=<i>'fade-orange'</i> size=<b>'category'</b> extend=<i>true</i> disabled=<i>true</i><span>}}</span>
</div>