<section>
  {{ui-button color='blue' size='floating' icon='arrows-16px-4_enlarge-46'}}
  {{ui-button color='blue' size='floating' icon='arrows-16px-4_enlarge-46' loading=true}}
  {{ui-button color='blue' size='floating' icon='arrows-16px-4_enlarge-46' disabled=true}}
  <div class="preview-divider"></div>
  {{ui-button color='lime' size='floating' icon='shopping-16px_gift'}}
  {{ui-button color='lime' size='floating' icon='shopping-16px_gift' loading=true}}
  {{ui-button color='lime' size='floating' icon='shopping-16px_gift' disabled=true}}
  <div class="preview-divider"></div>
  {{ui-button color='stroked' size='floating' icon='shopping-16px_tag'}}
  {{ui-button color='stroked' size='floating' icon='shopping-16px_tag' loading=true}}
  {{ui-button color='stroked' size='floating' icon='shopping-16px_tag' disabled=true}}
</section>
<div class="code">
  <span>\{{ui-button</span> color=<i>'blue'</i> size=<b>'floating'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> color=<i>'blue'</i> size=<b>'floating'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'blue'</i> size=<b>'floating'</b> icon=<u>'ICON'</u> disabled=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'lime'</i> size=<b>'floating'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> color=<i>'lime'</i> size=<b>'floating'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'lime'</i> size=<b>'floating'</b> icon=<u>'ICON'</u> disabled=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'stroked'</i> size=<b>'floating'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> color=<i>'stroked'</i> size=<b>'floating'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'stroked'</i> size=<b>'floating'</b> icon=<u>'ICON'</u> disabled=<i>true</i><span>}}</span>
</div>