<section>
  {{ui-button 'Round' color='blue' size='round'}}
  {{ui-button 'Round' color='blue' size='round' icon='arrows-16px-1_refresh-68'}}
  {{ui-button 'Round' color='blue' size='round' icon='arrows-16px-1_refresh-68' loading=true}}
  {{ui-button 'Round' color='blue' size='round' icon='arrows-16px-1_refresh-68' disabled=true}}
  <div class="preview-divider"></div>
  {{ui-button 'Round' color='lime' size='round'}}
  {{ui-button 'Round' color='lime' size='round' icon='arrows-16px-1_share-91'}}
  {{ui-button 'Round' color='lime' size='round' icon='arrows-16px-1_share-91' loading=true}}
  {{ui-button 'Round' color='lime' size='round' icon='arrows-16px-1_share-91' disabled=true}}
  <div class="preview-divider"></div>
  {{ui-button 'Round' color='stroked' size='round'}}
  {{ui-button 'Round' color='stroked' size='round' icon='arrows-16px-4_input-12'}}
  {{ui-button 'Round' color='stroked' size='round' icon='arrows-16px-4_input-12' loading=true}}
  {{ui-button 'Round' color='stroked' size='round' icon='arrows-16px-4_input-12' disabled=true}}
</section>
<div class="code">
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'blue'</i> size=<b>'round'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'blue'</i> size=<b>'round'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'blue'</i> size=<b>'round'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'blue'</i> size=<b>'round'</b> icon=<u>'ICON'</u> disabled=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'lime'</i> size=<b>'round'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'lime'</i> size=<b>'round'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'lime'</i> size=<b>'round'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'lime'</i> size=<b>'round'</b> icon=<u>'ICON'</u> disabled=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'stroked'</i> size=<b>'round'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'stroked'</i> size=<b>'round'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'stroked'</i> size=<b>'round'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> <u>'Round'</u> color=<i>'stroked'</i> size=<b>'round'</b> icon=<u>'ICON'</u> disabled=<i>true</i><span>}}</span>
</div>