<section>
  {{ui-button color='fade-blue' size='symbols' icon='ui-16px-1_calendar-60'}}
  {{ui-button color='fade-blue' size='symbols' icon='ui-16px-1_calendar-60' loading=true}}
  {{ui-button color='fade-green' size='symbols' icon='ui-16px-1_notification-69'}}
  {{ui-button color='fade-green' size='symbols' icon='ui-16px-1_notification-69' loading=true}}
  {{ui-button color='fade-yellow' size='symbols' icon='ui-16px-1_trash'}}
  {{ui-button color='fade-yellow' size='symbols' icon='ui-16px-1_trash' loading=true}}
  {{ui-button color='fade-purple' size='symbols' icon='ui-16px-2_chat-round'}}
  {{ui-button color='fade-purple' size='symbols' icon='ui-16px-2_chat-round' loading=true}}
  {{ui-button color='fade-orange' size='symbols' icon='ui-16px-2_grid-square'}}
  {{ui-button color='fade-orange' size='symbols' icon='ui-16px-2_grid-square' loading=true}}
  {{ui-button color='fade-orange' size='symbols' icon='ui-16px-2_grid-square' disabled=true}}
</section>
<div class="code">
  <span>\{{ui-button</span> color=<i>'fade-blue'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-blue'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-green'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-green'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-yellow'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-yellow'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-purple'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-purple'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-orange'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-orange'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u> loading=<i>true</i><span>}}</span>
  <span>\{{ui-button</span> color=<i>'fade-orange'</i> size=<b>'symbols'</b> icon=<u>'ICON'</u> disabled=<i>true</i><span>}}</span>
</div>