<section>
  {{ui-button 'Tag' color='border-blue' size='tag'}}
  {{ui-button 'Tag' color='border-green' size='tag'}}
  {{ui-button 'Tag' color='border-yellow' size='tag'}}
  {{ui-button 'Tag' color='border-purple' size='tag'}}
  {{ui-button 'Tag' color='border-orange' size='tag'}}
  {{ui-button 'Tag' color='border-orange' size='tag' disabled=true}}
</section>
<div class="code">
  <span>\{{ui-button</span> <u>'Tag'</u> color=<i>'border-blue'</i> size=<b>'tag'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Tag'</u> color=<i>'border-green'</i> size=<b>'tag'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Tag'</u> color=<i>'border-yellow'</i> size=<b>'tag'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Tag'</u> color=<i>'border-purple'</i> size=<b>'tag'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Tag'</u> color=<i>'border-orange'</i> size=<b>'tag'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'Tag'</u> color=<i>'border-orange'</i> size=<b>'tag'</b> disabled=<i>true</i><span>}}</span>
</div>