<section>
  {{ui-button (fake "address.city") size='text'}}
  {{ui-button (fake "address.city") size='text' icon='ui-16px-2_chat-round-content'}}
  {{ui-button (fake "address.city") color='text-blue' size='text' icon='ui-16px-1_check-simple'}}
  {{ui-button (fake "address.city") color='text-lime' size='text' icon='ui-16px-3_phone'}}
  {{ui-button (fake "address.city") customColor='#FACA00' size='text' icon='ui-16px-3_phone'}}
  {{ui-button (fake "address.city") color='text-lime' size='text' icon='ui-16px-3_phone' disabled=true}}
</section>
<div class="code">
  <span>\{{ui-button</span> <u>'TEXT'</u> size=<b>'text'</b><span>}}</span>
  <span>\{{ui-button</span> <u>'TEXT'</u> size=<b>'text'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> <u>'TEXT'</u> color=<i>'text-blue'</i> size=<b>'text'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> <u>'TEXT'</u> color=<i>'text-lime'</i> size=<b>'text'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> <u>'TEXT'</u> customColor=<u>'#FACA00'</u> size=<b>'text'</b> icon=<u>'ICON'</u><span>}}</span>
  <span>\{{ui-button</span> <u>'TEXT'</u> color=<i>'text-lime'</i> size=<b>'text'</b> icon=<u>'ICON'</u> disabled=<i>true</i><span>}}</span>
</div>