<section>
  {{ui-radio (fake "lorem.sentence") name="radio-blue" value="1" currentValue=test change='(action "update")'}}
  {{ui-radio (fake "lorem.sentence") name="radio-blue" value="2" currentValue=test change='(action "update")'}}
  {{ui-radio (fake "lorem.sentence") name="radio-blue" value="3" currentValue=test change='(action "update")'}}
  {{ui-radio (fake "lorem.sentence") name="radio-blue" value="4" currentValue=test change='(action "update")' disabled=true}}
  <div class="code inSection">
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u><span>}}</span>
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> disabled=<i>true</i><span>}}</span>
  </div>
</section>
<section>
  {{ui-radio (fake "lorem.sentence") name="radio-blue" value="1" currentValue=test change='(action "update")' color='lime'}}
  {{ui-radio (fake "lorem.sentence") name="radio-blue" value="2" currentValue=test change='(action "update")' color='lime'}}
  {{ui-radio (fake "lorem.sentence") name="radio-blue" value="3" currentValue=test change='(action "update")' color='lime'}}
  {{ui-radio (fake "lorem.sentence") name="radio-blue" value="3" currentValue=test change='(action "update")' color='lime' disabled=true}}
  <div class="code inSection">
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> color=<i>'lime'</i><span>}}</span>
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> color=<i>'lime'</i> disabled=<i>true</i><span>}}</span>
  </div>
</section>