<section>
  {{ui-radio (fake "lorem.sentence") name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='small'}}
  {{ui-radio (fake "lorem.sentence") name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='medium'}}
  {{ui-radio (fake "lorem.sentence") name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='large' color='lime'}}
  {{ui-radio (fake "lorem.sentence") name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='big' color='lime'}}
  <div class="code inSection">
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'small'</i><span>}}</span>
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'medium'</i><span>}}</span>
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'large'</i> color=<i>'lime'</i><span>}}</span>
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'big'</i> color=<i>'lime'</i><span>}}</span>
  </div>
</section>
<section>
  {{ui-radio (fake "lorem.sentence") name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='small' disabled=true}}
  {{ui-radio (fake "lorem.sentence") name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='medium' disabled=true}}
  {{ui-radio (fake "lorem.sentence") name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='large' color='lime' disabled=true}}
  {{ui-radio (fake "lorem.sentence") name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='big' color='lime' disabled=true}}
  <div class="code inSection">
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'small'</i> disabled=<i>true</i><span>}}</span>
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'medium'</i> disabled=<i>true</i><span>}}</span>
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'large'</i> color=<i>'lime'</i> disabled=<i>true</i><span>}}</span>
    <span>\{{ui-radio</span> <u>'LABEL'</u> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'big'</i> color=<i>'lime'</i> disabled=<i>true</i><span>}}</span>
  </div>
</section>
<section>
  {{ui-radio name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='small'}}
  {{ui-radio name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='medium'}}
  {{ui-radio name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='large' color='lime'}}
  {{ui-radio name="switch-blue" value="1" currentValue=test change='(action "update")' switch=true size='big' color='lime'}}
  <div class="code inSection">
    <span>\{{ui-radio</span> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'small'</i><span>}}</span>
    <span>\{{ui-radio</span> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'medium'</i><span>}}</span>
    <span>\{{ui-radio</span> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'large'</i> color=<i>'lime'</i><span>}}</span>
    <span>\{{ui-radio</span> name=<u>''</u> value=<u>''</u> currentValue=<u>''</u> change=<u>''</u> switch=<i>true</i> size=<i>'big'</i> color=<i>'lime'</i><span>}}</span>
  </div>
</section>