<section>
  {{#ui-grid}}
    <div class='column trisector'>
      {{ui-progressive './images/sample/sample-random-42.jpeg' './images/sample/sample-random-42-thumbnail.jpeg' '1'}}
    </div>
    <div class='column trisector'>
      {{ui-progressive './images/sample/sample-random-0.667-11.jpeg' './images/sample/sample-random-0.667-11-thumbnail.jpeg' '0.667'}}
    </div>
    <div class='column trisector'>
      {{ui-progressive './images/sample/sample-random-0.58-13.jpeg' './images/sample/sample-random-0.58-13-thumbnail.jpeg' '0.58'}}
    </div>
  {{/ui-grid}}
</section>
<div class="code">
  <span>\{{ui-progressive</span> <b>'./images/sample/sample-random-42.jpeg'</b> <u>'./images/sample/sample-random-42-thumbnail.jpeg'</u> <i>'1'</i><span>}}</span>
  <span>\{{ui-progressive</span> <b>'./images/sample/sample-random-0.667-11.jpeg'</b> <u>'./images/sample/sample-random-0.667-11-thumbnail.jpeg'</u> <i>'0.667'</i><span>}}</span>
</div>