{{#if image}}
  <div class='ui-profile' local-class='{{type}}' style={{imageStyle}}></div>
{{else}}
  <svg class='ui-icon' local-class='{{type}} {{color}}' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width={{concat _size 'px'}} height={{concat _size 'px'}} viewBox="0 0 {{_viewBox}} {{_viewBox}}">
    {{#if (eq type 'symbols')}}
      <rect fill={{fill}} x="0" y="0" width={{_size}} height={{_size}} rx="12"></rect>
    {{/if}}
    {{#if (eq type 'logo')}}
      <rect fill={{fill}} x="0" y="0" width={{_size}} height={{_size}} rx="4"></rect>
    {{/if}}
    {{xlink}}
  </svg>
{{/if}}