<section>
  {{#ui-grid}}
    <div class='column sixteen' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column sixteen'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    <span>\{{/ui-grid}}</span>
  </div>
</section>
<section>
  {{#ui-grid}}
    <div class='column eight' local-class='column'></div>
    <div class='column eight' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column eight'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column eight'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    <span>\{{/ui-grid}}</span>
  </div>
</section>
<section>
  {{#ui-grid}}
    <div class='column four' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column four' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column four'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column four'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column four'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column four'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    <span>\{{/ui-grid}}</span>
  </div>
</section>
<section>
  {{#ui-grid}}
    <div class='column two' local-class='column'></div>
    <div class='column eight' local-class='column'></div>
    <div class='column six' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column two'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column eight'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column six'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    <span>\{{/ui-grid}}</span>
  </div>
</section>
<section>
  {{#ui-grid}}
    <div class='column trisector' local-class='column'></div>
    <div class='column trisector' local-class='column'></div>
    <div class='column trisector' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column trisector'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column trisector'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column trisector'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    <span>\{{/ui-grid}}</span>
  </div>
</section>
<section>
  {{#ui-grid}}
    <div class='column ten' local-class='column'></div>
    <div class='column six' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column ten'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column six'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    <span>\{{/ui-grid}}</span>
  </div>
</section>
<section>
  {{#ui-grid}}
    <div class='column two' local-class='column'></div>
    <div class='column fourteen' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column two'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column fourteen'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    <span>\{{/ui-grid}}</span>
  </div>
</section>
<section>
  {{#ui-grid}}
    <div class='column two' local-class='column'></div>
    <div class='column two' local-class='column'></div>
    <div class='column two' local-class='column'></div>
    <div class='column two' local-class='column'></div>
    <div class='column two' local-class='column'></div>
    <div class='column two' local-class='column'></div>
    <div class='column two' local-class='column'></div>
    <div class='column two' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column two'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column two'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column two'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    .......
    <span>\{{/ui-grid}}</span>
  </div>
</section>

<section>
  {{#ui-grid}}
    <div class='column six group' local-class='column'>
      <div class='column eight' local-class='column'></div>
      <div class='column eight' local-class='column'></div>
    </div>
    <div class='column ten group' local-class='column'>
      <div class='column eight' local-class='column'></div>
      <div class='column eight' local-class='column'></div>
    </div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column six group'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column eight'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column eight'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column ten group'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column eight'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{"<div"}}</span> {{"class="}}<i>{{"'column eight'"}}</i><span>{{">"}}</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>......</u>
    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{"</div>"}}</span>
    &nbsp;&nbsp;<span>{{"</div>"}}</span>
    <span>\{{/ui-grid}}</span>
  </div>
</section>

<section>
  {{#ui-grid 'bold'}}
    <div class='column eight' local-class='column'></div>
    <div class='column eight' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column two' local-class='column'></div>
    <div class='column fourteen' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid</span> <i>'bold'</i><span>}}</span>
    &nbsp;&nbsp;<u>......</u>
    <span>\{{/ui-grid}}</span>
  </div>
</section>

<section>
  {{#ui-grid 'lighter'}}
    <div class='column eight' local-class='column'></div>
    <div class='column eight' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column four' local-class='column'></div>
    <div class='column two' local-class='column'></div>
    <div class='column fourteen' local-class='column'></div>
  {{/ui-grid}}
  <div class="code inSection">
    <span>\{{#ui-grid</span> <i>'lighter'</i><span>}}</span>
    &nbsp;&nbsp;<u>......</u>
    <span>\{{/ui-grid}}</span>
  </div>
</section>