<section class="preview-container" local-class="index">
  <div local-class='wrapper'>
    <h3>ember-choice-ui</h3>
    <h1>fully customizable UI components</h1>
    <p>Ember choice ui is a fully customizable UI components, closely related to each other and combined on different
       levels。Each component has been carefully designed to look good, provide a great user experience, and be simple to
       use and customize.</p>
    <p>We hope these resources will help teams realize their greatest design potential.</p>
    <div local-class='ember-logo'></div>
  </div>

  <footer local-class="footer">
    {{ui-button 'Ember' size='small' color='transparent' customColor='#FD7B1F'}}
    {{ui-button 'Postcss' size='small' color='transparent' customColor='#FD7B1F'}}
    {{ui-button 'Swiper' size='small' color='transparent' customColor='#FD7B1F'}}
    {{ui-button 'Sortable' size='small' color='transparent' customColor='#FD7B1F'}}
    {{ui-button 'Device.js' size='small' color='transparent' customColor='#FD7B1F'}}
    {{ui-button 'ember-basic-dropdown' size='small' color='transparent' customColor='#FD7B1F'}}
  </footer>
</section>