<section style="background-color: #5940aa">
  {{#ui-form 'vertical'}}
    {{ui-input placeholder='Icon' icon='ui-16px-1_calendar-60' color='white'}}
    {{ui-input placeholder='Icon' icon='ui-16px-1_calendar-60' color='white' disabled=true}}
    {{ui-input placeholder='placeholderIcon' placeholderIcon='ui-16px-1_calendar-60' color='white'}}
    {{ui-input placeholder='placeholderIcon' placeholderIcon='ui-16px-1_calendar-60' color='white' disabled=true}}
    {{ui-input 'Has label' placeholder='Label' color='white'}}
    {{ui-input 'Has label' placeholder='Label' color='white' disabled=true}}
    {{ui-input placeholder='Spinner' spinner=true color='white'}}
    {{ui-input placeholder='Spinner' spinner=true color='white' disabled=true}}
  {{/ui-form}}
</section>
<div class="code">
  <span>\{{ui-input</span> placeholder=<i>'Icon'</i> icon=<i>'ICON'</i> color=<i>'white'</i><span>}}</span>
  <span>\{{ui-input</span> placeholder=<i>'Icon'</i> icon=<i>'ICON'</i> color=<i>'white'</i> disabled=<i>true</i><span>}}</span>
  <span>\{{ui-input</span> placeholder=<i>'placeholderIcon'</i> placeholderIcon=<i>'ICON'</i> color=<i>'white'</i><span>}}</span>
  <span>\{{ui-input</span> placeholder=<i>'placeholderIcon'</i> placeholderIcon=<i>'ICON'</i> color=<i>'white'</i> disabled=<i>true</i><span>}}</span>
  <span>\{{ui-input</span> <i>'Has label'</i> placeholder=<i>'Label'</i> color=<i>'white'</i><span>}}</span>
  <span>\{{ui-input</span> <i>'Has label'</i> placeholder=<i>'Label'</i> color=<i>'white'</i> disabled=<i>true</i><span>}}</span>
  <span>\{{ui-input</span> placeholder=<i>'Spinner'</i> spinner=<i>true</i> color=<i>'white'</i><span>}}</span>
  <span>\{{ui-input</span> placeholder=<i>'Spinner'</i> spinner=<i>true</i> color=<i>'white'</i> disabled=<i>true</i><span>}}</span>
</div>