<section>
  {{#ui-form}}
    {{ui-input size='large' placeholder='Multiple'}}
    {{ui-input size='large' placeholder='Multiple' readonly=true}}
    {{ui-input size='large' placeholder='Multiple' disabled=true}}
  {{/ui-form}}
  <div class="preview-divider"></div>
  {{#ui-form}}
    {{ui-input 'Has label' size='large' placeholder='Label'}}
    {{ui-input 'Has label' size='large' placeholder='Label' readonly=true}}
    {{ui-input 'Has label' size='large' placeholder='Label' disabled=true}}
  {{/ui-form}}
</section>
<div class="code">
  <span>\{{ui-input</span> size=<i>'large'</i> placeholder=<i>'Single'</i><span>}}</span>
  <span>\{{ui-input</span> size=<i>'large'</i> placeholder=<i>'Single'</i> readonly=<i>true</i><span>}}</span>
  <span>\{{ui-input</span> size=<i>'large'</i> placeholder=<i>'Single'</i> disabled=<i>true</i><span>}}</span>
  <br>
  <span>\{{ui-input</span> <i>'Has label'</i> size=<i>'large'</i> placeholder=<i>'Label'</i><span>}}</span>
  <span>\{{ui-input</span> <i>'Has label'</i> size=<i>'large'</i> placeholder=<i>'Label'</i> readonly=<i>true</i><span>}}</span>
  <span>\{{ui-input</span> <i>'Has label'</i> size=<i>'large'</i> placeholder=<i>'Label'</i> disabled=<i>true</i><span>}}</span>
</div>