<section>
  {{ui-checkbox (fake "company.companyName") name="checkbox-blue"}}
  {{ui-checkbox (fake "company.companyName") name="checkbox-blue"}}
  {{ui-checkbox (fake "company.companyName") name="checkbox-blue" disabled=true}}
  {{ui-checkbox (fake "company.companyName") name="checkbox-blue" disabled=true checked=true}}
  <div class="code inSection">
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u><span>}}</span>
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> disabled=<i>true</i><span>}}</span>
  </div>
</section>
<section>
  {{ui-checkbox (fake "company.companyName") name="checkbox-lime" color='lime'}}
  {{ui-checkbox (fake "company.companyName") name="checkbox-lime" color='lime'}}
  {{ui-checkbox (fake "company.companyName") name="checkbox-lime" color='lime' disabled=true}}
  {{ui-checkbox (fake "company.companyName") name="checkbox-lime" color='lime' disabled=true checked=true}}
  <div class="code inSection">
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> color=<i>'lime'</i><span>}}</span>
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> color=<i>'lime'</i> disabled=<i>true</i><span>}}</span>
  </div>
</section>