<section>
  {{ui-checkbox (fake "lorem.sentence") name="switch-blue" switch=true size='small'}}
  {{ui-checkbox (fake "lorem.sentence") name="switch-blue" switch=true size='medium'}}
  {{ui-checkbox (fake "lorem.sentence") name="switch-blue" switch=true size='large' color='lime'}}
  {{ui-checkbox (fake "lorem.sentence") name="switch-blue" switch=true size='big' color='lime'}}
  <div class="code inSection">
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> switch=<i>true</i> size=<i>'small'</i><span>}}</span>
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> switch=<i>true</i> size=<i>'medium'</i><span>}}</span>
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> switch=<i>true</i> size=<i>'large'</i> color=<i>'lime'</i><span>}}</span>
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> switch=<i>true</i> size=<i>'big'</i> color=<i>'lime'</i><span>}}</span>
  </div>
</section>
<section>
  {{ui-checkbox (fake "lorem.sentence") name="switch-blue" switch=true size='small' disabled=true}}
  {{ui-checkbox (fake "lorem.sentence") name="switch-blue" switch=true size='medium' disabled=true}}
  {{ui-checkbox (fake "lorem.sentence") name="switch-blue" switch=true size='large' color='lime' disabled=true}}
  {{ui-checkbox (fake "lorem.sentence") name="switch-blue" switch=true size='big' color='lime' disabled=true}}
  <div class="code inSection">
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> switch=<i>true</i> size=<i>'small'</i> disabled=<i>true</i><span>}}</span>
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> switch=<i>true</i> size=<i>'medium'</i> disabled=<i>true</i><span>}}</span>
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> switch=<i>true</i> size=<i>'large'</i> color=<i>'lime'</i> disabled=<i>true</i><span>}}</span>
    <span>\{{ui-checkbox</span> <u>'LABEL'</u> name=<u>''</u> switch=<i>true</i> size=<i>'big'</i> color=<i>'lime'</i> disabled=<i>true</i><span>}}</span>
  </div>
</section>
<section>
  {{ui-checkbox name="switch-blue" switch=true size='small'}}
  {{ui-checkbox name="switch-blue" switch=true size='medium'}}
  {{ui-checkbox name="switch-blue" switch=true size='large' color='lime'}}
  {{ui-checkbox name="switch-blue" switch=true size='big' color='lime'}}
  <div class="code inSection">
    <span>\{{ui-checkbox</span> name=<u>''</u> switch=<i>true</i> size=<i>'small'</i><span>}}</span>
    <span>\{{ui-checkbox</span> name=<u>''</u> switch=<i>true</i> size=<i>'medium'</i><span>}}</span>
    <span>\{{ui-checkbox</span> name=<u>''</u> switch=<i>true</i> size=<i>'large'</i> color=<i>'lime'</i><span>}}</span>
    <span>\{{ui-checkbox</span> name=<u>''</u> switch=<i>true</i> size=<i>'big'</i> color=<i>'lime'</i><span>}}</span>
  </div>
</section>